:root {
  --mainParagraph: hsla(0, 0%, 100%, 0.75);
  --statHeadings: hsla(0, 0%, 100%, 0.6);

  --veryDarkBlue-hue: 233;
  --veryDarkBlue-sat: 47%;
  --veryDarkBlue-light: 7%;
  --veryDarkBlue: hsl(
    var(--veryDarkBlue-hue),
    var(--veryDarkBlue-sat),
    var(--veryDarkBlue-light)
  );

  --darkDesaturatedBlue-hue: 244;
  --darkDesaturatedBlue-sat: 38%;
  --darkDesaturatedBlue-light: 16%;
  --darkDesaturatedBlue: hsl(
    var(--darkDesaturatedBlue-hue),
    var(--darkDesaturatedBlue-sat),
    var(--darkDesaturatedBlue-light)
  );

  --softViolet-hue: 277;
  --softViolet-sat: 64%;
  --softViolet-light: 61%;
  --softViolet: hsl(
    var(--softViolet-hue),
    var(--softViolet-sat),
    var(--softViolet-light)
  );

  --ff: "Inter", sans-serif;
  --ff2: "Lexend Deca", sans-serif;

  --spacing: 50px;
  --rightSpacing: 100px;
  --topSpacing: 75px;
  --borderRadius: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: var(--ff);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--veryDarkBlue);
  color: white;
}

.container {
  display: flex;
  height: auto;
  width: auto;
  border-radius: var(--borderRadius);
  background-color: var(--darkDesaturatedBlue);
  overflow: hidden;
}

.container-left {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  max-width: 500px;
}

.container-info {
  margin: var(--spacing);
  margin-right: var(--rightSpacing);
}

.title {
  margin-bottom: var(--spacing);
  font-weight: 900;
}

.title span {
  color: var(--softViolet);
}

.container-info .text {
  color: var(--mainParagraph);
  font-weight: 400;
}

.status {
  margin-top: var(--topSpacing);
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: var(--ff2);
  font-weight: 400;
}

.status p {
  color: var(--statHeadings);
  text-transform: uppercase;
}

.status h2,
.status p {
  margin: 5px;
}

.container-right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--softViolet);
}

.container-right img {
  height: 100%;
  opacity: 0.5;
}

@media (max-width: 675px) {
  :root {
    --spacing: 25px;
    --rightSpacing: 25px;
    --topSpacing: 0px;
  }
  body {
    display: block;
  }
  .container {
    flex-direction: column-reverse;
    width: 90%;
    min-height: 800px;
    margin: 15px auto;
  }
  .container-left {
    align-items: center;
    text-align: center;
    height: 70%;
  }
  .status {
    flex-direction: column-reverse;
  }
  .status div {
    margin-top: 25px;
  }
  .container-right {
    height: 30%;
  }
  .container-right img {
    height: 100%;
    width: 100%;
  }
}
